@model StripeAspNetCore2.Web.Features.Payments.DonateVM
@using StripeAspNetCore2.Web.Navigation
@using StripeAspNetCore2.Web.Features.Payments

@inject IOptions<Stripe> Stripe
@{
	ViewBag.Title = "Payments";
}

<div class="page-header">
	<h3>
		<span class="text-success fa fa-dollar"></span> @ViewBag.Title
	</h3>
</div>

<div class="row">
	<div class="col-sm-4">
		<a asp-controller="@Payments.Controller"
			 asp-action="@Payments.Charge.Action"
			 asp-route-amount="5"
			 class="btn btn-lg btn-success">
			<i class="fa fa-dollar fa-2x pull-left"></i> $5 Charge
		</a>
	</div>

	<div class="col-sm-4">
		<a asp-controller="@Payments.Controller"
			 asp-action="@Payments.Charge.Action"
			 asp-route-amount="10"
			 class="btn btn-lg btn-success">
			<i class="fa fa-dollar fa-2x pull-left"></i> $10 Charge
		</a>
	</div>

	<div class="col-sm-4">
		<form asp-controller="@Payments.Controller" 
					asp-action="@Payments.Index.Action" method="post">
			<div class="form-group">

				<div asp-validation-summary="ModelOnly"></div>

				<div class="input-group margin-bottom-sm">
					<span class="input-group-addon"><i class="fa fa-dollar fa-fw"></i></span>
					<input asp-for="Amount" class="form-control" type="text" placeholder="Donation">
				</div>

				@*<label>Amount</label> <input asp-for="Amount" class="form-control" />*@

				<span asp-validation-for="Amount"></span><br />
			</div>
			<button class="btn btn-lg btn-primary" type="submit">Submit
				
			</button>
		</form>
	</div>

</div>

@*

	<div class="input-group margin-bottom-sm">
		<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		<input class="form-control" type="text" placeholder="Email address">
	</div>
*@

@*<hr />
<h3>Site Settings</h3>
<dl class="dl-horizontal">
	<dt>Site Title</dt>
	<dd>@Stripe.Value.PublishableKey</dd>
	<dt>SiteShort Title</dt>
	<dd>@Stripe.Value.SecretKeyPartial</dd>
</dl>*@

@*<input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>" />*@
